html {
    height: 100%;
}
html {
    background: #456;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    color: #222;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


a {
    color: #224;
}

#dialog {
    position: relative;
    display: inline-block;
    background: #eee;
    width: 90%;
    max-width: 1600px;
    min-width: 1200px;
    height: 700px;
    border-radius: 3px;
}

.tabs {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    float: left;
    height: 36px;
    width: 100%;
    text-align: center;
    background: #456;
}

.tablink {
    background: linear-gradient(to bottom, #eeeeee 0%,#d5d5d5 100%);
    color: #555;
    padding-top: 10px;
    float: left;
    height: 26px;
    width: 150px;
    text-align: center;
    border-right: 4px solid #456;
    box-shadow: inset 0px -1px 2px rgba(0,0,0,0.75);
}

.tablink:first-child {
    border-top-left-radius: 5px;
}

.tablink:hover:not(.tablink_selected) {
    color: #333;
    cursor: pointer;
    background: #EEC;
}

.tablink_selected {
    border-bottom: none;
    box-shadow: none;
    cursor: default;
    color: #333;
    background: #eee;
}

.bread {
    
    margin: 0 auto;
    padding:8px;
    height: 600px;
    width: calc(100% - 20px);
    overflow: auto;
    background: #eee;
    text-align: left;
}

h2 {
    text-align: center;
    padding-top: 28px;
    margin-bottom: 8px;
}


.logo {
  position: absolute;
  top: 20px;
  left: calc(50% - 225px);
}
